<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link href="/css/signup.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <h1 class="logo" onclick="home()">Trillion</h1>
    </header>

    <main>
      <div class="section1">
        <h1>Sign Up</h1>
      </div>
      <div class="content-wrapper">
        <div class="information">
          <div class="left-section">
            <p class="item">이름</p>
            <input
              type="text"
              class="input"
              id="name"
              placeholder="이름 입력"
            />
            <p class="item">ID</p>
            <input type="text" class="input" id="id" placeholder="ID 입력" />
            <button class="btn">ID 중복 확인</button>
            <p class="item">비밀번호</p>
            <input
              type="password"
              class="input"
              id="password"
              placeholder="비밀번호 입력"
            />
            <button class="btn" onclick="showPassword()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-eye"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                ></path>
                <path
                  d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                ></path>
              </svg>
            </button>
            <p class="item">비밀번호 확인</p>
            <input
              type="password"
              class="input"
              id="check-password"
              placeholder="비밀번호 재입력"
            />
            <button class="btn" onclick="showCheckPassword()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-eye"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                ></path>
                <path
                  d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                ></path>
              </svg>
            </button>
            <p>비밀번호 일치 확인 문구</p>
            <p class="item">이메일</p>
            <input
              type="text"
              class="input"
              id="email"
              placeholder="이메일 입력"
              required
            />
            <button class="btn">Email 인증</button>
            <p class="item">이메일 인증 번호 입력</p>
            <input
              type="number"
              class="input"
              id="email-number"
              placeholder="이메일 인증번호 입력"
              required
            />
            <button class="btn">인증 번호 확인</button>
            <p>인증 완료 문구</p>
            <p class="item">본인 소개</p>
            <textarea
              type="text"
              class="input"
              id="introduce"
              placeholder="자기소개 입력"
              required
            ></textarea>
          </div>
          <div class="right-section">
            <p class="item" style="text-align: center">프로필 설정</p>
            <div id="profile-image">
              <p>프로필 이미지</p>
            </div>
            <div style="display: flex; align-items: center">
              <button class="btn" id="picAddButton">프로필 사진 추가</button>
            </div>
          </div>
        </div>
        <div class="content-footer">
          <button class="btn" id="sign-up-button">회원가입</button>
        </div>
      </div>
      <div class="footer"></div>
    </main>
    <button id="topButton">Top</button>

    <script src="/js/signup.js"></script>
  </body>
</html>
